header {
  display: flex;
}
.logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 50px;
}
.logo-small {
  font-family: "Shrikhand", cursive;
  color: #ef5350;
  font-size: 24px;
}

h5,
h4,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #ef5350;
}

footer {
  text-align: center;
  color: #ef5350;
  font-size: 12px;
  position: sticky;
}

.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  position: absolute;
}

/* index. html start*/

.make-or-order,
button {
  text-align: center;
  padding-top: 30px;
}

.tagline {
  padding: 20px 5px 10px 5px;
  text-align: center;
}

.rather {
  padding: 50px 0 20px 0;
}

.hero-text {
  padding: 0 10px 10px 30px;
}

.parent {
  text-align: center;
}
/* index.html end */

/* order.html styling*/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 60vh;
  width: 60vh;
  margin-bottom: 10px;
  display: none;
}


.card-row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.card {
  width: 50vh;
  max-height: 60vh;
  margin-left: 3rem;
}

.locations {
  text-align: center;
  justify-content: center;
}

.card-content {
  text-align: left;
  padding-left: 2px;
}

.card-title {
  opacity: 80%;
}

#my-location {
  margin-bottom: 5px;
}
/* end order.html styling */

/* directly relating to styling the recpies on make.html */
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #ef5350;
  font-size: 24px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #ef5350;
  font-size: 18px;
}

p,
li {
  color: #ef5350;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.info {
  padding-bottom: 20px;
  border-bottom: solid 1px #ef5350;
}
/* end styling for make.htnml */



/* media query for order.html--and header for all pages */

@media only screen and (max-width: 1000px) {
 .logo {
   font-size: 30px;
 }
  .flex{
  display: flex;
  flex-direction: column;
}
.row .col.s6 {
  width: 100%;
}


.locations {
  text-align: left;
}

#map {
  width: 40vh;
  height: 40vh;
}

.card {
  width: 40vh;
  height: 100%;
  margin-left: auto;
}

.btn-instructions {
  margin-top: 0px;
}

.row .col.s12 {
    margin-left: auto;
    /* left: auto;
    right: auto; */
}
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .logo {
    font-size: 30px;
  }
 
 .locations {
   text-align: left;
 }
 
 #map {
   width: 50vh;
   height: 50vh;
 }
 
 .row .col.s12 {
  margin-left: auto;
  left: auto;
  right: auto;
}
 .card {
   width: 40vh;
   height: 100%;
   margin-left: 30px;
 }
 
 .btn-instructions {
   margin-top: 0px;
 }

 .row .col.m6 {
  width: 50%;
  margin-left: 0px;
  left: auto;
  right: auto;
}
 }
